<?xml version="1.0"?>
<config>
    <modules>
        <Sz_CustomerImages>
            <version>0.1.0</version>
        </Sz_CustomerImages>
    </modules>
    <global>
        <models>
            <customerimages>
                <class>Sz_CustomerImages_Model</class>
                <resourceModel>customerimages_resource</resourceModel>
            </customerimages>
            <customerimages_resource>
                <class>Sz_CustomerImages_Model_Resource</class>
                <entities>
                    <image>
                        <table>customer_images_image</table>
                    </image>
                    <product>
                        <table>customer_images_product</table>
                    </product>
                </entities>
            </customerimages_resource>
        </models>
        <blocks>
            <customerimages>
                <class>Sz_CustomerImages_Block</class>
            </customerimages>
        </blocks>
        <helpers>
            <customerimages>
                <class>Sz_CustomerImages_Helper</class>
            </customerimages>
        </helpers>
        <resources>
            <customerimages_setup>
                <setup>
                    <module>Sz_CustomerImages</module>
                </setup>
            </customerimages_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <customerimages>
                <use>standard</use>
                <args>
                    <module>Sz_CustomerImages</module>
                    <frontName>customerimages</frontName>
                </args>
            </customerimages>
        </routers>
        <default>
            <router>customerimages</router>
        </default>
        <layout>
            <updates>
                <customerimages module="Sz_CustomerImages">
                    <file>customerimages.xml</file>
                </customerimages>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <customerimages>
                    <file>customerimages.xml</file>
                </customerimages>
            </updates>
        </layout>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerimages before="Mage_Adminhtml">Sz_CustomerImages_Adminhtml</customerimages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <customerimages_save_product_data>
                        <type>singleton</type>
                        <class>customerimages/observer</class>
                        <method>saveProductTabData</method>
                    </customerimages_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerimages before="Mage_Adminhtml">Sz_CustomerImages_Adminhtml</customerimages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config> 